$blanco: #ecf0f1;
$gris: #bdc3c7;

$azul: rgb(20,56,99);
$verde: rgb(106,147,32);

@import "settings";
@import "foundation";
@import "home";


// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

body{
	background: $blanco;
	border-top: 10px solid $azul;
	color: $gris;
}
h2{
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 700;
}
h3{
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 700;
	opacity: 0.7;
}
h4{
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 400;
	color: $gris;
}
input[type=text]{
	margin-top: 8px;
}
header{
	margin-top: 1em;
}
ul{
	margin: 0;
}
.author{
	font-size: 0.8em;
}

#roll{
	height: 600px;
	max-height: 600px;
	overflow-y: scroll;
	margin-top: 5px;
}
.glass{
	background: url('../img/icon_search.png') no-repeat $verde;
	background-position: center 50%;
}
.graph{
	margin-bottom: 1.5em;
}
.enviar{
	background: url('../img/plane.png') no-repeat $verde;
	background-position: 20px 50%;
	padding-left: 55px;
}
.redes{
	padding: 2em 0;
}
